@import '../../assets/scss/abstracts/variables';

.g-slim__arrow {
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: white;
}
.g-slim__arrow--prev {
  left: $arrows-horizontal-bleed;
}
.g-slim__arrow--next {
  right: $arrows-horizontal-bleed;
}

.g-slim__carousel {
  display: flex;
}
